@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    align-content: center;
    font-family: "Sora", sans-serif;
}

header{
    background-color: white;
    box-shadow: 0vh .01vh 0.5vh rgba(0, 0, 0, 0.549);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 10vh;
    flex-wrap: wrap;
} 

.nav-left ul, .nav-right {
    display: flex;
    align-items: center; 
} 

.nav-left ul li, .nav-right ul li {
    margin: 0 3vh;
    list-style-type: none; 
} 

.nav-left ul li a img { 
    width: 6vh;  
    height: auto;
} 

nav a { 
    color: black; 
    font-weight: bold;
    text-decoration: none; 
} 

.nav-left ul li a:hover { 
    color: #00704A;
} 

.nav-right ul li a:hover { 
    color: #808080;
} 

button {
    padding: 1vh 2vh; 
    margin-left: 2vh; 
    cursor: pointer; 
    font-weight: bold; 
    border-radius: 50vh / 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vh;
    border: none;
} 

button a {
    text-decoration: none;  
} 

#btblanco {
    background-color: white;
    color: black;
    border: 0.1vh solid black;
}

#btblanco a {
    color: black;
}

#btblanco:hover {
    background-color: #ffffff;
    color: #808080;
}

#btnegro {
    background-color: black;
}

#btnegro a {
    color: white;
}

#btnegro:hover {
    background-color: #000000cf
}

.container {
    margin: 0vh 5vh 4vh ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container img {
    height: 50vh;
    width: auto;
    flex-shrink: 0;
}

.container .text {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 0 5%;
    box-shadow: none;
    flex: 1;
}

#green-container {
    background-color: #1E3932;
    flex-direction: row;
}

#blue-container {
    background-color: #0044B4;
    flex-direction: row-reverse;
}

#red-container {
    background-color: #D50032;
    flex-direction: row;
}

#green-container2 {
    background-color: #1E3932;
    flex-direction: row-reverse;
}

#conocemas {
    display: flex;
    padding: 1vh 1vh; 
    margin: 1vh 40vh;
    cursor: pointer; 
    font-weight: bold;
    border: 0.1vh solid white; 
    width: 13vh; 
    background-color: #D50032;
    justify-content: center;
}

#conocemas a {
    color: white;
}

#conocemas:hover {
    background-color: #d43258cd;
}

.dos-container {
    margin: 0vh 5vh 4vh ;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dos-container img {
    width: 89vh;
    height: auto;
}

.noticias-container {
    background-color: #F6BFD9;
}

.terminos-container {
    background-color: #98CDE4;
}

.noticias-container img, .terminos-container img{
    background-color: inherit;
}

.noticias-container .text {
    color: #DB1938;
    padding-bottom: 10vh;
    text-align: center;
    margin-right: 5%;
    font-weight: bold;
}

.terminos-container .text {
    color: #043F4D;
    padding-bottom: 10vh;
    text-align: center;
    margin-right: 5%;
    font-weight: bold;
}

.botonesab {
    margin: 0vh 38vh;
    background-color: transparent;
}

#noticias {
    border: 0.1vh solid #DB1938;
}

#noticias a {
    color: #DB1938;
}

#terminos {
    border: 0.1vh solid #043F4D;
}

#terminos a{
    color: #043F4D;
}

footer {
    padding: 3vh 10%;
    box-shadow: 0vh .01vh 0.5vh rgba(0, 0, 0, 0.549);
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0vh 105vh 0vh 0;
}

.footer-section h3 {
    color: black;
    margin-top: 5vh;
}

.footer-section ul {
    list-style-type: none;
    line-height: 5vh;
}

.footer-section ul li a {
    color: #7B7D81;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: black;
}

.footer-section2 {
    display: flex;
    justify-content: center;
    margin: 3vh 0;
    flex-wrap: wrap;
}

.footer-section2 img {
    height: 6vh;
    width: auto;
}

.footer-section2 ul {
    display: flex;
    list-style-type: none;
}

.footer-section2 ul li a {
    margin: 2vh;
}

.footer-section3 {
    border-top: 1px solid #7B7D81;
    text-align: center;
    margin-top: 2vh;
}

.footer-section3 ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2vh;
    flex-wrap: wrap;
}

.footer-section3 ul li a {
    color: #a3a2a3;
    position: relative;
    text-decoration: none;
}

.footer-section3 ul li a:hover {
    color: #7B7D81;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    padding-top: 2vh;
    color: #a3a2a3;
}

/*MENU*/

.intro {
    text-align: left;
    padding: 5vh 10vh;
}

.intro h1 {
    font-size: 1.5em;
    color: #212121;
}

.intro p {
    font-size: 2.5em;
    color: #212121;
    font-weight: bold;
}

/* Sección de bebidas, alimentos y café */
.bebidas, .alimentos, .cafe {
    text-align: left;
    margin: 5vh auto;
    padding: 0 10vh;
}

.bebidas {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
}

.alimentos, .cafe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
}

.bebidas h2, .alimentos h2, .cafe h2 {
    font-size: 1.5em;
    color: #1E3932;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    padding: 1vh 0;
    width: 90%;
}

.bebidas a, .alimentos a, .cafe a {
    display: block;
    border-radius: 50%;
    padding: 3vh;
    width: 15vh;
    height: 15vh;
    background-color: #1E3932;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s;
    text-decoration: none;
    margin-left: 0;
}

.bebidas img, .alimentos img, .cafe img {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-color: #1E3932;
}

.bebidas p, .alimentos p, .cafe p {
    margin-top: 1vh;
    text-align: center;
    color: #212121;
    width: max-content; /* Asegura que el texto ocupe toda la anchura */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    justify-self: start;
}

.bebidas a:hover, .alimentos a:hover, .cafe a:hover {
    border: 1vh solid #D4E9E2;
}

/* REWARDS */
.starbucks-rewards {
    display: flex;
    flex-wrap: wrap;
}

.left-fixed {
    position: fixed;
    width: 200px; /* Fijo */
    padding: 1em;
    background: #fff;
    height: 100vh;
}

.intro, .rewards, .rewards-summary, .steps, .video, .order-pay, .customize, .information, .highlight, .footer-image {
    margin-left: 220px; /* Espacio para el contenedor fijo */
    padding: 2em;
}

.intro h1, .intro p, .rewards h2, .rewards-summary h2, .steps h2, .video iframe, .order-pay h2, .customize h2, .information h2, .highlight h2, .footer-image img {
    text-align: center;
}

/* Estilo para las imágenes y textos de la sección "green" */
.rewards img {
    width: calc(25% - 1em); /* 4 imágenes por fila */
    margin: 0.5em;
    display: block;
    margin-left: 0; /* Alinea las imágenes a la izquierda */
    border-radius: 50%;
}

.rewards p {
    text-align: center;
    color: #212121;
    margin: 0.5em 0;
}

/* Estilo para el video */
.video iframe {
    width: 100%;
    height: 505px;
    margin: 0 auto;
    display: block;
}

/* Estilo para la sección de beneficios Gold */
.rewards.gold {
    display: flex;
    flex-wrap: wrap;
    background-color: white; /* Blanco */
    padding: 2em;
    justify-content: space-around;
}

.rewards.gold img {
    width: calc(22% - 1em); /* 4 imágenes por fila */
    margin: 0.5em;
}

.rewards.gold p {
    text-align: center;
    color: #212121;
    margin: 0.5em 0;
}

/* Estilo para la sección de resumen */
.rewards-summary div {
    text-align: center;
    margin: 1em 0;
}

.rewards-summary img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.rewards-summary p {
    text-align: center;
    color: #212121;
    margin: 0.5em 0;
}

/* Estilo para la sección de pasos */
.steps ol {
    padding: 0;
    list-style: none;
}

.steps ol li {
    display: flex;
    align-items: center;
    margin: 1[_{{{CITATION{{{_1{](https://github.com/la9una/web/tree/ba1073ae044ebb7b538a3b13f0f9598f7c410bb6/docs%2Fbootstrap%2Falignci.md)