@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    align-content: center;
    font-family: "Sora", sans-serif;
}

header{
    background-color: white;
    box-shadow: 0vh .01vh 0.5vh rgba(0, 0, 0, 0.549);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 10vh;
    flex-wrap: wrap;
} 

.nav-left ul, .nav-right {
    display: flex;
    align-items: center; 
} 

.nav-left ul li, .nav-right ul li {
    margin: 0 3vh;
    list-style-type: none; 
} 

.nav-left ul li a img { 
    width: 6vh;  
    height: auto;
} 

nav a { 
    color: black; 
    font-weight: bold;
    text-decoration: none; 
} 

.nav-left ul li a:hover { 
    color: #00704A;
} 

.nav-right ul li a:hover { 
    color: #808080;
} 

button {
    padding: 1vh 2vh; 
    margin-left: 2vh; 
    cursor: pointer; 
    font-weight: bold; 
    border-radius: 50vh / 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vh;
    border: none;
} 

button a {
    text-decoration: none;  
} 

#btblanco {
    background-color: white;
    color: black;
    border: 0.1vh solid black;
}

#btblanco a {
    color: black;
}

#btblanco:hover {
    background-color: #ffffff;
    color: #808080;
}

#btnegro {
    background-color: black;
}

#btnegro a {
    color: white;
}

#btnegro:hover {
    background-color: #000000cf
}

.container {
    margin: 0vh 5vh 4vh ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container img {
    height: 50vh;
    width: auto;
    flex-shrink: 0;
}

.container .text {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 0 5%;
    box-shadow: none;
    flex: 1;
}

#green-container {
    background-color: #1E3932;
    flex-direction: row;
}

#blue-container {
    background-color: #0044B4;
    flex-direction: row-reverse;
}

#red-container {
    background-color: #D50032;
    flex-direction: row;
}

#green-container2 {
    background-color: #1E3932;
    flex-direction: row-reverse;
}

#conocemas {
    display: flex;
    padding: 1vh 1vh; 
    margin: 1vh 40vh;
    cursor: pointer; 
    font-weight: bold;
    border: 0.1vh solid white; 
    width: 13vh; 
    background-color: #D50032;
    justify-content: center;
}

#conocemas a {
    color: white;
}

#conocemas:hover {
    background-color: #d43258cd;
}

.dos-container {
    margin: 0vh 5vh 4vh ;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dos-container img {
    width: 89vh;
    height: auto;
}

.noticias-container {
    background-color: #F6BFD9;
}

.terminos-container {
    background-color: #98CDE4;
}

.noticias-container img, .terminos-container img{
    background-color: inherit;
}

.noticias-container .text {
    color: #DB1938;
    padding-bottom: 10vh;
    text-align: center;
    margin-right: 5%;
    font-weight: bold;
}

.terminos-container .text {
    color: #043F4D;
    padding-bottom: 10vh;
    text-align: center;
    margin-right: 5%;
    font-weight: bold;
}

.botonesab {
    margin: 0vh 38vh;
    background-color: transparent;
}

#noticias {
    border: 0.1vh solid #DB1938;
}

#noticias a {
    color: #DB1938;
}

#terminos {
    border: 0.1vh solid #043F4D;
}

#terminos a{
    color: #043F4D;
}

footer {
    padding: 3vh 10%;
    box-shadow: 0vh .01vh 0.5vh rgba(0, 0, 0, 0.549);
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0vh 105vh 0vh 0;
}

.footer-section h3 {
    color: black;
    margin-top: 5vh;
}

.footer-section ul {
    list-style-type: none;
    line-height: 5vh;
}

.footer-section ul li a {
    color: #7B7D81;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: black;
}

.footer-section2 {
    display: flex;
    justify-content: center;
    margin: 3vh 0;
    flex-wrap: wrap;
}

.footer-section2 img {
    height: 6vh;
    width: auto;
}

.footer-section2 ul {
    display: flex;
    list-style-type: none;
}

.footer-section2 ul li a {
    margin: 2vh;
}

.footer-section3 {
    border-top: 1px solid #7B7D81;
    text-align: center;
    margin-top: 2vh;
}

.footer-section3 ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2vh;
    flex-wrap: wrap;
}

.footer-section3 ul li a {
    color: #a3a2a3;
    position: relative;
    text-decoration: none;
}

.footer-section3 ul li a:hover {
    color: #7B7D81;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    padding-top: 2vh;
    color: #a3a2a3;
}

/*MENU*/

.intro {
    text-align: left;
    padding: 5vh 10vh;
}

.intro h1 {
    font-size: 1.5em;
    color: #212121;
}

.intro p {
    font-size: 2.5em;
    color: #212121;
    font-weight: bold;
}

.bebidas, .alimentos, .cafe {
    text-align: left;
    margin: 5vh auto;
    padding: 0 10vh;
}

.bebidas {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
}

.alimentos, .cafe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
}

.bebidas h2, .alimentos h2, .cafe h2 {
    font-size: 1.5em;
    color: #1E3932;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    padding: 1vh 0;
    width: 90%;
}

.bebidas a, .alimentos a, .cafe a {
    display: block;
    border-radius: 50%;
    padding: 3vh;
    width: 15vh;
    height: 15vh;
    background-color: #1E3932;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s;
    text-decoration: none;
    margin-left: 0;
}

.bebidas img, .alimentos img, .cafe img {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-color: #1E3932;
}

.bebidas p, .alimentos p, .cafe p {
    margin-top: 1vh;
    text-align: center;
    color: #212121;
    width: max-content;
    white-space: nowrap;
    justify-self: start;
}

.bebidas a:hover, .alimentos a:hover, .cafe a:hover {
    border: 1vh solid #D4E9E2;
}


/* REWARDS */
/* Header fijo */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Espaciado para el contenido debajo del header */
.starbucks-rewards {
    padding-top: 10vh;
    margin-left: 40%;
    padding: 2em;
    background-color: #fff;
}

/* Contenedor fijo a la izquierda */
.left-fijo { 
    position: fixed; 
    width: 40%; 
    height: 100vh; 
    background-color: #1E3932; 
    padding: 1em; 
    top: 0; 
    left: 0; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    z-index: 999; 
}

.left-fijo img { 
    max-width: 100%; 
    height: auto; 
}

.starbucks-rewards { 
    margin-left: 40%; 
    padding: 2em; 
    background-color: #fff; 
}

.rewards.green, .rewards.gold { 
    background-color: white; 
    padding: 2em; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.rewards.green h2, .rewards.gold h2, .rewards-summary h2, .steps h2, .order-pay h2, .customize h2, .information h2, .highlight h2 { 
    font-size: 1.5em; 
    color: #1E3932; 
    text-align: center; 
    padding: 1vh 0; 
}

header { 
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.starbucks-rewards { 
    padding-top: 10vh; 
}

.left-fijo { 
    position: fixed; 
    width: 40%; 
    height: 100vh; 
    background-color: #1E3932; 
    padding: 1em; 
    top: 10vh; 
    left: 0; 
    color: white; 
}

.starbucks-rewards { 
    margin-left: 40%; 
    padding: 2em; 
    background-color: #fff; 
}

.rewards.green, .rewards.gold { 
    background-color: white; 
    padding: 2em; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.rewards.green h2, .rewards.gold h2, .rewards-summary h2, .steps h2, .order-pay h2, .customize h2, .information h2, .highlight h2 { 
    font-size: 1.5em; 
    color: #1E3932; 
    text-align: center; 
    padding: 1vh 0; 
}

.rewards-grid { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    width: 100%; 
}

.rewards-item { 
    width: 22%; 
    margin-bottom: 1em; 
    text-align: center; 
}

.rewards-item img { 
    width: 100%; 
    height: auto; 
}

.rewards-item p { 
    margin-top: 0.5em; 
    color: #212121; 
}

.rewards-summary { 
    background-color: #f1f0eb; 
    padding: 2em; 
    text-align: center; 
}

.rewards-summary div { 
    text-align: center; 
    margin: 1em 0; 
}

.rewards-summary img { 
    margin: 0 auto; 
    width: 60vh; 
    height: auto; 
}

.steps { 
    background-color: white; 
    padding: 2em; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.steps h2 { 
    text-align: center; 
    width: 100%; 
}

.steps ol { 
    padding: 0; 
    list-style: none; 
    width: 50%; 
}

.steps ol li { 
    display: flex; 
    align-items: center; 
    margin: 1em 0; 
}

.steps .step-number { 
    width: 4vh; 
    height: 4vh; 
    border-radius: 50%; 
    background: #1E3932; 
    color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-right: 1em; 
}

.steps img { 
    margin-left: 1em; 
    width: 30%; 
    height: auto; 
}

#step2 { 
    width: 70%; 
}

.img-chica { 
    width: 20%; 
    display: block; 
    margin: auto; 
}

.video iframe { 
    width: 100%; 
    height: auto; 
}

.order-pay { 
    background-color: #f1f0eb; 
    padding: 2em; 
    text-align: center; 
}

.order-pay-grid { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.order-pay-row { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 2em; 
}

.order-pay-item { 
    display: flex; 
    align-items: center; 
    width: 30%; 
    text-align: left; 
}

.order-pay-item img { 
    width: 50px; 
    height: auto; 
    margin-right: 1em; 
}

.order-pay-item p { 
    margin: 0; 
    color: #212121; 
    text-align: left; 
}

.customize { 
    background-color: #f1f0eb; 
    padding: 2em; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.customize-content { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.customize h2 { 
    width: 100%; 
    text-align: center; 
    margin-bottom: 1em; 
}

.customize p { 
    width: 60%; 
    color: #212121; 
    text-align: left; 
    margin-right: 1em; 
}

.customize img { 
    width: 60%; 
    height: auto; 
}

.information { 
    text-align: center; 
    padding: 2em 0; 
}

.information img { 
    display: block; 
    margin: 0 auto; 
    width: 40%; 
    height: auto; 
}

#store { 
    width: 100%; 
}

.information a { 
    margin: 1em; 
    display: inline-block; 
}

.highlight { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 2em 0; 
    background-color: #f1f0eb; 
}

.highlight img { 
    width: 40%; 
    height: auto; 
    margin-left: auto; 
}

.highlight p { 
    width: 50%; 
    text-align: left; 
    margin-right: auto; 
}

.footer-image { 
    text-align: center; 
    padding: 2em 0; 
}

.footer-image img { 
    width: 100%; 
    height: auto; 
}

.rewards-footer { 
    padding: 3vh 10%; 
    box-shadow: 0vh .01vh 0.5vh rgba(0, 0, 0, 0.549); 
    margin-left: 40%; 
    width: 60%; 
}
